.feed-item-footer, .post-footer{
	display: flex;
	justify-content: space-between;
}

.post-footer{
	margin: 20px 30px;
}

.feed-item-footer{
	margin-top: 20px;
}

.post-date{
	color: $menu_blue + #331;
}

.post-badge{
	color: white;
	background-color: $menu_blue;
	padding: 2px 10px;
	border-radius: 5px;
	font-size: 12px;
}

.post-badge.tag1{
	background-color: $badge-1;
}
.post-badge.tag2{
	background-color: $badge-2;
}
.post-badge.tag3{
	background-color: $badge-3;
}